.git
.github
.aos
node_modules
site/node_modules
site/dist
site/.astro
adapters/*/node_modules
runtime/node_modules
cli/node_modules
**/.DS_Store
.env
.env.*
**/.env
**/.env.*
*.key
*.pem
output/
tests/
